body
{
}
/* Top */
#top
{
    /*border: blue thin solid;*/ /*test*/
    height: 150px;
    width: 100%;
    margin: auto;
    position: relative;
}

#banner
{
    height: 100px; /*border: red thin solid;test*/
}

#menu
{
    /*border: green thin solid;test*/
    height: 45px;
}
.container
{
    padding-left: 150px;
    padding-right: 150px;
    height: 40px;
}

.navbar-search .search-query
{
    height: 20px;
    width: 300px;
    
}

/* End Top*/

/* Wrap */
#wrap
{
    width: 1000px;
    margin: auto;
    padding-top: 10px; /*border: red thin solid;test*/ /*height: 100%;*/ /*position: relative;*/
}

#content
{
    width: 700px;
    float: left; /*border: blue thin solid;test*/
    padding-left: 20px;
}

.span4
{
    margin: 10px 0px 10px 10px !important; /*border: red thin solid;test*/
    width: 165px;
}

.thumbnail
{
    /*border: blue thin solid;/*test*/
    padding: 0;
}


#right-nav
{
    width: 250px;
    float: right; /*border: green thin solid;test*/
}

#top-film
{
    border: #DDDDDD thin solid; /*border: red thin solid;*/ /*test*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* End wrap */

/* Footer */
#footer
{
    /*border: blue thin solid;*/ /*test*/
    height: 100px;
    width: 100%;
    margin: auto;
    clear: both;
    position: relative;
}
/* End footer */

.radial-center
{
    /* fallback */
    background-color: #2F2727;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat; /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727); /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727); /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}
h1
{
    color: red;
}
